*{
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: red;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 3.8rem;
    width: 100%;
}

header .btn{
    background: none;
    border: none;
    color: white;
    font-size: 0.9rem;
    margin: 0px 25px;
}

.linha{
    width: 100%;
    height: 1rem;
    background: rgb(123, 6, 6);
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: red;
    width: 80%;
    margin: 10px;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    width: 80%;
}

section .inputs{
    margin: 0px;
    padding: 5px;
}

section .text{
    margin-bottom: 5px;
}

select{
    margin: 0px;
    padding: 5px;
}

